* {
    margin: 0;
    padding: 0;
    font-family: 'popiins', sans-serif;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    /* background: #eeedff; */
    background: url(../fotos/under_construction.webp) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #f92537;
    padding: 15px 40px;
    border-radius: 25px;
}

.return_botton {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
}


